/* base styles */

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
  font-size: 18px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  max-width: 48em;
  margin: 0 auto;
}

mark {
  background: linear-gradient(145deg, var(--link-color), var(--accent-color));
}

a {
  color: var(--link-color);
  text-decoration: dotted;
}

a:visited {
  color: var(--link-color-visited);
}

button {
  font-size: 18px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

code {
  font-family: "IBM Plex Mono", Inconsolata, Hack, monospace;
  font-size: 80%;
  background: var(--code-bg-color);
  padding: 2px;
  border-radius: 2px;
}

figure {
  margin: 1.2em auto;
  text-align: center;
}

img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

@media (min-width: 480px) {
  h1 {
    font-size: 2.8rem;
  }
}

mark {
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-background-clip: text;
}

p {
  line-height: 1.4em;
  margin: 1.5em auto;
  word-break: break-word;
}

@media (min-width: 480px) {
  p {
    font-size: 1.2rem;
  }
}

ul {
  padding: revert;
  padding-left: 1rem;
}

/* base theme */

pre.hljs {
  font-family: "IBM Plex Mono", Inconsolata, Hack, monospace;

  padding: 0.8rem;
  border-radius: 0.6rem;

  font-size: 75%;
  line-height: 1.4;
  counter-reset: line;

  box-shadow: var(--base-box-shadow);
  transition: box-shadow var(--transition-duration);
}

pre.hljs code {
  counter-increment: line;
  padding-right: 0.8rem;
  background: transparent;
  font-size: initial;
}

pre.hljs code:before {
  content: counter(line);
  padding-right: 0.8rem;
  color: #deb887;
  -webkit-user-select: none;
  min-width: 2ch;
  display: inline-block;
  text-align: center;
}

.theme {
  --transition-duration: 0.8s;

  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.4rem;

  font-size: 18px;
  line-height: 1.4;
  color: var(--font-color);

  background-color: var(--background-color);
  transition: background-color var(--transition-duration);
}

/* blog-post */
.toc {
  margin-top: 0.8em;
}

.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
  margin-top: 1.8rem;
}

.blog-post h1 {
  line-height: 1.2;
}

.blog-post .meta {
  margin: 0.4rem auto;
}
